<div class = "card cardhelps">
    <img src="{{help.img_url}}" alt="cardLogo" class="cardLogo" style = "margin-bottom: 9rem;">
    <div class = "cardName">
      <h2 class = "oswaldH">{{help.name}}</h2>
    </div>
    <div class = "cardAbout">
      <p class = "georgiaP">{{help.|safe}}</p>
    </div>
    <form action="{% url 'add_help_to_lesion' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="help_id" value="{{ help.help_id }}">
      <button class = "button cardButton oswaldH" style="margin-bottom: 9rem; cursor: pointer;">Добавить</button>
    </form>
    <a href = "{% url 'helpID' help.help_id %}" class = "button cardButton oswaldH">Подробнее</a>
</div>
