{% extends 'base.html' %}

{% block title %} Радиоактивные элементы {% endblock %}

{% block container %}
    <div class = "searchSpace">
        <form action="{% url 'home' %}" class="searchContainer" method="get">
            <input class="searchBar" name="duration" type="text" pattern="\d*" placeholder="Поиск по атомной массе" value="{{ search_number }}">
            <input class="searchButton" type="submit" value="Найти" >
        </form>
        {% if lesion_information.lesion_id != 0 %}
            <a href="{% url 'lesion' lesion_information.lesion_id %}">
                <img src="http://127.0.0.1:9000/images/icons/quote.jpg" alt = "lesion" class = "lesionLogo">
            </a>
        {% if lesion_information.lesion_helps_count > 0 %}
            <div class = "circle oswaldH">{{lesion_information.lesion_helps_count}}</div>
        {% endif %}
        {% endif %}
    </div>
    <div class = "helpsContainer">
        {% for help in helps %}
            {% include 'help_card.html' %}
            {% empty %}
            <h1 class = "oswaldH" style = "font-size: 96rem;">Список пуст</h1>
        {% endfor %}
    </div>  
{% endblock %}