{% extends 'index.html' %}
{% block title %} application {% endblock %}
{% block content %}



<div class = "appl">
    <div class="text_service"><div>
    <h1>
        Название поражения
    </h1>
</div>
    <div>
    <form action="" method="get" enctype="search_l/form-data" class="search-container">
        {% csrf_token %}
        <input name="text" value="{{defeats.name}}" type="text" class="name_services" placeholder="">
    </form>
    </div>
    </div>
<div class="container_appl">
    {%for service in services%}
    <div class="card_appl"> 
        <div class="card_appl_img">
            <img src="{{service.src_road}}" class="card_appl_imgf">
        </div>
        <div class="card_appl_ht">
            <h1>{{service.htitle}}</h1>
        </div>
        <div class="card_appl_title">
            <p>{{service.title}}</p>
        </div>
        <div class="card_appl_time">
            <p>Длительность:</p>
            <input name="text" value="{{service.time}}" type="text" class="comment" placeholder="">
        </div>
        <div class="card_appl_comment">
            <p>Комментарий:</p>
            <input name="text" value="{{service.comment}}" type="text" class="comment" placeholder="">
        </div>
        <div class="card_appl_but">
            <a href="{% url 'service_url' service.id %}" class="card-button">Подробнее</a>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}