{% extends 'index.html' %}
{% block title %} Заявка {% endblock %}
{% block content %}



<div class = "appl">
    <div class="text_help"><div>
    <h1>
        Название поражения
    </h1>
</div>
    <div>
    <form action="" method="get" enctype="search_l/form-data" class="search-container">
        {% csrf_token %}
        <input name="text" value="{{lesions.name}}" type="text" class="name_helps" placeholder="">
    </form>
    </div>
    </div>
<div class="container_appl">
    {%for help in helps%}
    <div class="card_appl"> 
        <div class="card_appl_img">
            <img src="{{help.img}}" class="card_appl_imgf">
        </div>
        <div class="card_appl_ht">
            <h1>{{help.name}}</h1>
        </div>
        <div class="card_appl_title">
            <p>{{help.title}}</p>
        </div>
        <div class="card_appl_time">
            <p>Длительность:</p>
            <input name="text" value="{{help.time}}" type="text" class="comment" placeholder="">
        </div>
        <div class="card_appl_comment">
            <p>Комментарий:</p>
            <input name="text" value="{{help.comment}}" type="text" class="comment" placeholder="">
        </div>
        <div class="card_appl_but">
            <a href="{% url 'help_url' help.id %}" class="card-button">Подробнее</a>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}