{% extends 'index.html' %}

{% block title %}Список заказов{% endblock %}

{% block content %}
<div class="menu">
    <div class="search">
<form action="" method="get" enctype="search_l/form-data" class="search-container">
    {% csrf_token %}
    <input name="text" value="{{input_text}}" type="text" class="search-input" placeholder="Я ищу...">
</form>
</div>
<div>
    <a href="appl">
        <img class="{%for relation in relations%}
        {% if relation.id_services%}TrueFalseNum{% endif %}
        {%endfor%}" src="http://localhost:9000/miniolab1/image/help.png">
    </a>
    </div>
</div>
<div class="container">
    {% for service in services %}
    <div class="card">
        <img src="{{service.src_road}}" class="image">
        <p class="title">{{ service.htitle }}</p>
        <div class="down">
            <a href="{% url 'service_url' service.id %}" class="card-button">Подробнее</a>
        </div>
    </div>
    {% empty %}
    <h1 class="empty_text"> Ничего не найдено </h1>
    {% endfor %}
</div>
{% endblock %}