{% extends 'index.html' %}

{% block title %}Список заказов{% endblock %}

{% block content %}
<div class="menu">
    <div>
<form action="sendText" method="post" enctype="multipart/form-data" class="search-container">
    {% csrf_token %}
    <input name="text" value="{{input_text}}" type="text" class="search-input" placeholder="Я ищу...">
    <button type="submit" class="search-button">
        <img src="http://localhost:9000/miniolab1/image/search.png" class="img_svg" alt="Search">
    </button>
</form> </div>
<div>
<a href="appl">
    <img src="http://localhost:9000/miniolab1/image/help.png">
</a> </div>
</div>
<div class="container">
    {% for order in orders %}
    <div class="card">
        <img src="{{order.src_road}}" class="image">
        <p class="title">{{ order.htitle }}</p>
        <p class="short-description">{{ order.title }}</p>
        <div class="down">
            <a href="{% url 'order_url' order.id %}" class="card-button">Подробнее</a>
        </div>
    </div>
    {% empty %}
    <h1 class="empty_text"> Ничего не найдено </h1>
    {% endfor %}
</div>
{% endblock %}